<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1494346480775-936a9f0d0877?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1003&q=80'); background-position: bottom">
  <div class="banner-content">
    <h1>HipSquare</h1>
    <p>Find the trendiest places near you!</p>
    <a href="#top10" class="btn btn-warning btn-lg">Explore!</a>
  </div>
</div>
